.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
ClassLibraryLeetCode/bin/Debug/net7.0/ClassLibraryLeetCode.dll
ShowCase/bin/Debug/net7.0/ClassLibraryLeetCode.dll
ShowCase/bin/Debug/net7.0/ClassLibraryLeetCode.pdb
ShowCase/bin/Debug/net7.0/ShowCase.dll
ShowCase/bin/Debug/net7.0/ShowCase.pdb
ShowCase/obj/Debug/net7.0/ShowCase.csproj.AssemblyReference.cache
ShowCase/obj/Debug/net7.0/ShowCase.dll
ShowCase/obj/Debug/net7.0/ShowCase.pdb
ShowCase/obj/Debug/net7.0/ref/ShowCase.dll
ShowCase/obj/Debug/net7.0/refint/ShowCase.dll
ClassLibraryLeetCode/bin/Debug/net7.0/ClassLibraryLeetCode.dll
ClassLibraryLeetCode/bin/Debug/net7.0/ClassLibraryLeetCode.pdb
ClassLibraryLeetCode/obj/Debug/net7.0/ClassLibraryLeetCode.csproj.CoreCompileInputs.cache
ClassLibraryLeetCode/obj/Debug/net7.0/ClassLibraryLeetCode.dll
ClassLibraryLeetCode/obj/Debug/net7.0/ClassLibraryLeetCode.pdb
ClassLibraryLeetCode/obj/Debug/net7.0/ref/ClassLibraryLeetCode.dll
ClassLibraryLeetCode/obj/Debug/net7.0/refint/ClassLibraryLeetCode.dll
ClassLibraryLeetCode/bin/Debug/net7.0/ClassLibraryLeetCode.dll
ClassLibraryLeetCode/bin/Debug/net7.0/ClassLibraryLeetCode.pdb
ClassLibraryLeetCode/obj/Debug/net7.0/ClassLibraryLeetCode.dll
ClassLibraryLeetCode/obj/Debug/net7.0/ClassLibraryLeetCode.pdb
ShowCase/bin/Debug/net7.0/ClassLibraryLeetCode.dll
ShowCase/bin/Debug/net7.0/ClassLibraryLeetCode.pdb
ShowCase/obj/Debug/net7.0/ShowCase.csproj.AssemblyReference.cache
ClassLibraryLeetCode/bin/Debug/net7.0/ClassLibraryLeetCode.dll
ClassLibraryLeetCode/bin/Debug/net7.0/ClassLibraryLeetCode.pdb
ClassLibraryLeetCode/obj/Debug/net7.0/ClassLibraryLeetCode.csproj.CoreCompileInputs.cache
ClassLibraryLeetCode/obj/Debug/net7.0/ClassLibraryLeetCode.dll
ClassLibraryLeetCode/obj/Debug/net7.0/ClassLibraryLeetCode.pdb
ClassLibraryLeetCode/obj/Debug/net7.0/ref/ClassLibraryLeetCode.dll
ClassLibraryLeetCode/obj/Debug/net7.0/refint/ClassLibraryLeetCode.dll
ShowCase/Program.cs
ShowCase/bin/Debug/net7.0/ClassLibraryLeetCode.dll
ShowCase/bin/Debug/net7.0/ClassLibraryLeetCode.pdb
ShowCase/bin/Debug/net7.0/ShowCase.dll
ShowCase/bin/Debug/net7.0/ShowCase.pdb
ShowCase/obj/Debug/net7.0/ShowCase.csproj.AssemblyReference.cache
ShowCase/obj/Debug/net7.0/ShowCase.dll
ShowCase/obj/Debug/net7.0/ShowCase.pdb
ShowCase/obj/Debug/net7.0/ref/ShowCase.dll
ShowCase/obj/Debug/net7.0/refint/ShowCase.dll
ClassLibraryProblemSolutions/bin/Debug/net7.0/ClassLibraryProblemSolutions.dll
ClassLibraryProblemSolutions/bin/Debug/net7.0/ClassLibraryProblemSolutions.pdb
ClassLibraryProblemSolutions/obj/Debug/net7.0/ClassLibraryProblemSolutions.csproj.CoreCompileInputs.cache
ClassLibraryProblemSolutions/obj/Debug/net7.0/ClassLibraryProblemSolutions.dll
ClassLibraryProblemSolutions/obj/Debug/net7.0/ClassLibraryProblemSolutions.pdb
ClassLibraryProblemSolutions/obj/Debug/net7.0/ref/ClassLibraryProblemSolutions.dll
ClassLibraryProblemSolutions/obj/Debug/net7.0/refint/ClassLibraryProblemSolutions.dll
ShowCase/bin/Debug/net7.0/ClassLibraryProblemSolutions.dll
ShowCase/bin/Debug/net7.0/ClassLibraryProblemSolutions.pdb
ClassLibraryProblemSolutions/obj/Debug/net7.0/ClassLibraryProblemSolutions.csproj.CoreCompileInputs.cache
ClassLibraryProblemSolutions/obj/Debug/net7.0/ClassLibraryProblemSolutions.dll
ClassLibraryProblemSolutions/obj/Debug/net7.0/ClassLibraryProblemSolutions.pdb
ClassLibraryProblemSolutions/obj/Debug/net7.0/ref/ClassLibraryProblemSolutions.dll
ClassLibraryProblemSolutions/obj/Debug/net7.0/refint/ClassLibraryProblemSolutions.dll
ShowCase/bin/Debug/net7.0/ClassLibraryProblemSolutions.dll
ShowCase/bin/Debug/net7.0/ClassLibraryProblemSolutions.pdb
ClassLibraryProblemSolutions/bin/Debug/net7.0/ClassLibraryProblemSolutions.dll
ClassLibraryProblemSolutions/bin/Debug/net7.0/ClassLibraryProblemSolutions.pdb



#Incomplete Solutions Ignore 
ClassLibraryProblemSolutions/LeetCodeSolutions/MergeSortedArrayIncomplete.cs
ClassLibraryProblemSolutions/LeetCodeSolutions/SortAnArrayIncomplete.cs
ClassLibraryProblemSolutions/LeetCodeSolutions/LetterCombinationOfAPhoneNumber.cs
