.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
ClassLibraryLeetCode/bin/Debug/net7.0/ClassLibraryLeetCode.dll
ShowCase/bin/Debug/net7.0/ClassLibraryLeetCode.dll
ShowCase/bin/Debug/net7.0/ClassLibraryLeetCode.pdb
ShowCase/bin/Debug/net7.0/ShowCase.dll
ShowCase/bin/Debug/net7.0/ShowCase.pdb
ShowCase/obj/Debug/net7.0/ShowCase.csproj.AssemblyReference.cache
ShowCase/obj/Debug/net7.0/ShowCase.dll
ShowCase/obj/Debug/net7.0/ShowCase.pdb
ShowCase/obj/Debug/net7.0/ref/ShowCase.dll
ShowCase/obj/Debug/net7.0/refint/ShowCase.dll
ClassLibraryLeetCode/bin/Debug/net7.0/ClassLibraryLeetCode.dll
ClassLibraryLeetCode/bin/Debug/net7.0/ClassLibraryLeetCode.pdb
ClassLibraryLeetCode/obj/Debug/net7.0/ClassLibraryLeetCode.csproj.CoreCompileInputs.cache
ClassLibraryLeetCode/obj/Debug/net7.0/ClassLibraryLeetCode.dll
ClassLibraryLeetCode/obj/Debug/net7.0/ClassLibraryLeetCode.pdb
ClassLibraryLeetCode/obj/Debug/net7.0/ref/ClassLibraryLeetCode.dll
ClassLibraryLeetCode/obj/Debug/net7.0/refint/ClassLibraryLeetCode.dll
ClassLibraryLeetCode/bin/Debug/net7.0/ClassLibraryLeetCode.dll
ClassLibraryLeetCode/bin/Debug/net7.0/ClassLibraryLeetCode.pdb
ClassLibraryLeetCode/obj/Debug/net7.0/ClassLibraryLeetCode.dll
ClassLibraryLeetCode/obj/Debug/net7.0/ClassLibraryLeetCode.pdb
ShowCase/bin/Debug/net7.0/ClassLibraryLeetCode.dll
ShowCase/bin/Debug/net7.0/ClassLibraryLeetCode.pdb
ShowCase/obj/Debug/net7.0/ShowCase.csproj.AssemblyReference.cache
